/**
 *
 * Styles used for the event detail page
 * (the page containing information about a specific event - including ticket purchase buttons)
 *
 ******************************************************/

.tn-ticket-selector__pricetype-list {
	padding-left: 0;
}

.tn-ticket-selector__pricetype.additional-information {
	background-color: #73d9e5;
	padding: 1rem;
	margin: 0 -1rem;
	grid-template-rows: auto;
}

.additional-information__content p {
	padding-bottom: 70px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22114%22%20height%3D%2257%22%20fill%3D%22none%22%20viewBox%3D%220%200%20114%2057%22%3E%3Cpath%20fill%3D%22%232a2a2a%22%20d%3D%22M57.858%2027.67c3.163-4.954%201.577-5.715%201.416-5.624-3.077%201.734-5.42%206.952-5.224%208.69.271%202.393%202.129-.435%203.808-3.065m11.983-4.546a9.1%209.1%200%200%200-1.09%203.31c-.08.58-.175%203.105-.154%203.448q.05.837.213%201.66c.075.273.544%201.255-.96%201.463-.886.122-.869-2.094-.886-2.457-.034-.773.094-3.488.176-3.891.086-.413-.086.024-.25.294-.374.628-.811%201.478-1.334%202.314-.687%201.1-2.219%203.72-4.308%203.564-.781-.059-1.576-.16-2.03-2.338-.175-.834-.107-1.932-.09-2.59-.02-.137-.002-.292-.116-.229-.74%201.727-3.143%206.814-5.858%205.67-1.258-.528-1.877-2.151-.49-5.321%201.353-3.09%204.765-6.922%206.124-7.18%201.211-.23%201.337.381%201.337.381.11-.225.865-.199%201.03.124.221.432.368.507.221%201.646-.083.657-.694%204.768-.588%206.18.048.662.162%202.293.835%202.372%201.175.14%202.599-2.36%202.76-2.62.317-.511%202.853-4.762%203.165-5.383.335-.669.548-1.157.765-1.584.216-.425.87-.473%201.439-.084s.284.922.09%201.252m-53.653%202.082c-1.49.16-4.208%203.765-4.768%205.044-.573%201.307-.78%202.567-.1%203.093%201.406%201.091%202.86-.76%203.288-1.19.264-.264%202.114-2.282%202.58-4.332.307-1.353.45-2.77-1-2.615m.777%2015.995q-.153.276-.317.547c-1.098%201.823-2.54%203.45-4.326%204.623-2.42%201.588-4.692%202.198-7.231%202.167-1.477-.017-2.9-.256-4.115-1.028-.995-.633-1.137-1.623-.835-2.276.419-.91%201.727-.822%202.283-.3%201.39%201.303%202.219%201.809%204.005%201.722a9.6%209.6%200%200%200%204.19-1.232c7.39-4.315%207.323-12.073%207.623-16.747.031-.285-.123-.078-.175.077a18.4%2018.4%200%200%201-1.32%202.875%209.9%209.9%200%200%201-3.127%203.412c-.935.618-2.455.917-3.525.22-.388-.255-2.657-1.584-.734-5.54%201.209-2.49%203.753-4.216%204.327-4.582%201.404-.897%202.407-1.323%203.459-1.242.535.039.612.25%201.01.24.227-.267.352-.463.725-.566.5-.08%201.095.34%201.324%201.135s-.367%202.071-.517%202.685c.001%200%20.53%207.964-2.724%2013.81m8.42-17.944c-.906.017-.832.67-1.022%201.243-.184.57-1.745%205.698-1.943%206.617-.198.92-.334%201.745-.048%203.007.292%201.29%201.77.913%201.927.686.723-1.011.083-1.31.06-2.016-.02-.738.183-1.513.336-2.512.054-.357.163-1.977.216-2.197.06-.238.57-2.043%201.305-3.14.315-.47.591-1.712-.832-1.688m2.465-5.997c-.124-.255-.798-1.056-1.678-.434-1.308.926.2%202.206.443%202.834.242.628%201.55%201.154%201.359-.085-.028-.178.235-1.578-.124-2.315m14.444%206.04c-.426.095-1.276.266-1.81.357-.81.135-1.251.644-1.22%201.159.03.518.207.762.93.625.652-.123%201.21-.678%201.781-.68%200%200-1.18%204.975-1.257%205.642s-.426%202.49.29%203.526c1.596%202.304%204.787-.337%205.085-.625.219-.212%202.235-1.98%202.918-3.398.346-.719-.243-.878-.642-1.024-.4-.147-1.242.106-1.36.633-.257%201.142-3.048%204.225-4.43%203.607-1.628-.73%201.31-8.906%201.31-8.906.35-.157%202.124-.614%203.803-1.046%201.938-.497%207.86-1.666%206.523-3.435-.654-.866-2.344.452-2.917.728-2.053.984-7.077%202.43-7.077%202.43s.652-2.94.863-3.519c.243-.663%201.137-1.096%201.267-2.276.154-1.372-1.5-1.997-2.288-.495-.163.308-.388%201.16-.41%201.18-.212.204-2.037.933-3.83%201.788-.566.27-3.778%201.438-3.784%201.43.005-.024.975-3.103%202.1-5.67.749-1.708%201.803-4.085%203.671-4.567%201.75-.451.925%201.371%201.712%201.845.998.6%201.61-.157%201.764-.881.12-.567.088-3.544-2.938-3.246-2.88.284-5.174%204.679-8.01%2012.892-.031.033-2.285%201.488-4.152%201.862-.924.185-1.333.265-1.455.594a1.46%201.46%200%200%200%20.34%201.556c.532.636%204.691-2.118%204.687-2.099-.085.113-3.498%2013.116-3.525%2013.268-.197%201.083-1.297%203.938-1.238%205.234.033.667.295%202.055%201.255%201.993%202.01.132%201.622-2.693%201.487-3.21-.281-1.072%201.163-8.154%202.46-13.374.263-1.064.806-2.811.9-3.227a1.95%201.95%200%200%201%201.056-1.397s7.227-3.407%207.295-3.387c0%20.007-1.154%204.113-1.154%204.113m49.513%206.5c1.4%201.323%202.79.485%203.507-.093%202.197-1.766%206.727-9.818%206.727-9.818.025.27-1.888%209.504.67%2010.528%201.64.655%205.457-2.602%205.894-2.903%202.521-1.74.977-2.376.49-2.376-1.299-.005-1.065.937-1.421%201.36-.586.697-2.943%203.122-4.097%202.478-.621-.348-.468-2.4-.406-2.872.363-4.888.46-5.77.745-6.895.16-.625.921-.608%201.387-.694%206.293-1.163%207.422-.694%208.207-1.076.622-.306.734-1.625-.15-1.909-.404-.127-.916.18-1.842.526-.922.341-5.565%201.368-6.248%201.47-.629.09-.764.002-.917-.196-.15-.195.139-2.488%201.041-4.39.393-.822.403-2.081-.878-2.178-.528-.038-.975.112-1.176.56-.199.447-.583%204.52-.673%204.792-.091.267-.577.476-.684.941s-.033.755-.346.86c-.316.107-1.182.19-1.538.276-.375.091-.597.808-.61%201.223-.015.415.654.168.977.121.368-.053%201.269-.503.628.268-.243.295-4.611%207.123-6.317%208.53-1.963%201.615-1.823-1.562-1.774-2.103.297-3.24%201.714-5.414%201.918-5.93.2-.518.285-2.055-1.389-1.715a1.18%201.18%200%200%200-.838.787l-.005.034c-.168%201.514-3.074%208.321-.882%2010.395m2.55-15.854c.516%201.006%201.397.65%201.547.39.15-.257.27-.31.698-.482.784-.314-.57-1.721-1.858-1.324a.49.49%200%200%200-.295.418c.035.295-.267.662-.092.999M78.56%2021.847s.845-.728%201.203-.71c.166.009-.124.469.457.753.309.153-.337%202.208-1.614%204.18-2.932%204.528-4.323%204.324-4.443%202.948-.248-2.869%203.546-6.587%204.397-7.17m1.489%203.713s-.011.976.065%201.81c.068.748.323%202.315.587%202.822.409.78%201.276.78%201.943.398.873-.502.46-1.44.128-1.753-.29-.275-.997-.628-1.21-1.806-.126-.698-.023-3.842.184-4.942a14.7%2014.7%200%200%201%20.954-2.936c.348-.687%202.444-4.617%202.474-5.937.013-.576-.58-1.053-1.55-.953-.969.1-1.21.876-1.212%201.384-.002.506-1.028%204.069-1.081%204.23-.085.244-.253%201.703-.754%201.706a4.87%204.87%200%200%200-3.082%201.032c-.483.366-2.123%201.641-3.07%202.972-.429.603-2.382%203.113-2.161%206.11.201%202.725%202.108%202.243%202.655%202.156%202.488-.4%204.237-4.493%204.49-4.995.449-.89.297-.65.64-1.298m-9.802-9.956c-.183.224-.137.935.26%201.303.299.277.34.328.35.552.017.413.28.436.687.43.497-.007.903-.351.953-1.053.05-.701-.63-1.301-1.176-1.436-.547-.136-.838-.089-1.074.204%22%2F%3E%3C%2Fsvg%3E');
	background-position: bottom left;
	background-repeat: no-repeat;
}

.additional-information .tn-ticket-selector__pricetype-label-heading p {
	font-size: 1rem;
	margin-top: 1em;
}

.accordion__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.accordion__toggle {
	padding-block: 0;
	padding-inline: 0;
}

.accordion__body {
	display: none;
}

.accordion__toggle svg {
	display: block;
	height: 44px;
	width: 44px;
	transform: rotate(180deg);
	transform-origin: center;
}

.accordion--open .accordion__body {
	display: block;
}

.accordion--open .accordion__toggle svg {
	transform: rotate(0deg);
}

@media screen and (min-width: 480px) {
	/**
	* Re-style the individual ticket information rows so that 
	* the price is underneath the name of the ticket 
	*/
	.tn-ticket-selector__pricetype {
		display: grid;
		grid-template-rows: 1fr 2fr;
		grid-template-columns: 2fr 1fr;
	}


	.tn-ticket-selector__pricetype-label-container {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		margin-bottom: 0;
		padding: 0;
	}

		.tn-ticket-selector__pricetype-name {
			font-size: 1.125rem;
		}

	.tn-ticket-selector__amount-input-container {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		padding: 0;
	}

		.tn-ticket-selector__fixed-amount-input[readonly] {
			font-size: 1rem;
			margin: 0;
			padding: 0;
		}

		.tn-ticket-selector__fixed-amount-input[readonly]:focus {
			background: transparent;
			border: 0 none;
		}


	.tn-ticket-selector__pricetype-select-wrapper {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		justify-self: end;
	}
}
