/**
 *
 * Styles used for the event detail page
 * (the page containing information about a specific event - including ticket purchase buttons)
 *
 ******************************************************/

.tn-ticket-selector__pricetype-list {
	padding-left: 0;
}

@media screen and (min-width: 480px) {
	/**
	* Re-style the individual ticket information rows so that 
	* the price is underneath the name of the ticket 
	*/
	.tn-ticket-selector__pricetype {
		display: grid;
		grid-template-rows: 1fr 2fr;
		grid-template-columns: 2fr 1fr;
	}


	.tn-ticket-selector__pricetype-label-container {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
		margin-bottom: 0;
		padding: 0;
	}

		.tn-ticket-selector__pricetype-name {
			font-size: 1.125rem;
		}

	.tn-ticket-selector__amount-input-container {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
		padding: 0;
	}

		.tn-ticket-selector__fixed-amount-input[readonly] {
			font-size: 1rem;
			margin: 0;
			padding: 0;
		}

		.tn-ticket-selector__fixed-amount-input[readonly]:focus {
			background: transparent;
			border: 0 none;
		}


	.tn-ticket-selector__pricetype-select-wrapper {
		grid-column: 2 / 3;
		grid-row: 1 / 3;
		justify-self: end;
	}
}
