/**
 *
 * Styles used for the membership page (https://tickets.museums.cam.ac.uk/join/2/15)
 *
 ******************************************************/

.tn-membership-product__price-label {
	font-size: 1.25rem;
}

.tn-membership-product__price {
	font-size: 1.125rem;
}
