html {
  font-size: 16px!important;
}
.parallax {
  min-height: 400px;
  background-attachment: fixed;
  background-size: cover;
}
.jumbotron{
  margin-bottom: 0;
  margin-top: 3rem;
}

.head {
  background-image: url(../images/layouts/gallery3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 400px) {
  .head {
    padding-top: 100px;
    /* display: none; */
    /* visibility: hidden; */
  }
  .hide {
    padding-top:5rem;
  }
  .division {
    text-align: center;
  }
  .shout {
    color: white!important;
    font-family: 'Yrsa', serif;
    font-size: 4rem!important;
    margin-top:2rem;
  }
  .shout-less {
    color: white!important;
    font-family: 'Yrsa', serif;
    font-size: 2rem!important;
  }
  /* .jumbotron {
  display: none;
  } */
}

footer, .chip-icon {
  background-color: #731200;
}

.bg-black {
  background-color: #000000!important;
}


body {
  font-family: 'Roboto', sans-serif;
}

a {
  background-color: transparent;
  color: #731100;
  text-decoration: none;
}

article {
  overflow-wrap: break-word;
  word-wrap: break-word;
}


video {
  object-fit: cover;
}

.share  a {
  color: #fff;
}
.w3w a {
  color: #fff;
}

.cd-nugget-info {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  top: 0;
  left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cd-nugget-info a {
  position: relative;
  font-size: 14px;
  color: #e86256;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.cd-nugget-info a:hover {
  opacity: .8;
}

.cd-nugget-info span {
  vertical-align: middle;
  display: inline-block;
}

.cd-nugget-info span svg {
  display: block;
}
.cd-nugget-info .cd-nugget-info-arrow {
  fill: #e86256;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../images/layouts/arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

.cd-top.cd-top--show,
.cd-top.cd-top--fade-out,
.cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
  transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
}

.cd-top.cd-top--show {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-top--fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}

.cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}


.thumb-post img {
  object-fit: cover;
}

.thumb-nail {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.label-thumb {
  position: relative;
  max-width:100%;
  max-height:400px;
}

.carousel-caption {
  color: #000;
  bottom:-60px;
  font-size:smaller;
}

.carousel-inner { padding-bottom:80px; }


.carousel-control-prev, .carousel-control-next, .carousel-indicators li {
  background-color: hsla(0, 93%, 31%, 0.98)
}
#sponsors img {
  height: 50px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.carousel-item img {
  min-width: auto;
  max-height:auto;
}

.badge-wine {
  background-color: #731200;
  color: #fff;
  padding: 10px;
}

.btn-wine {
  background-color: #731200;
  color: #fff;
  padding: 10px;
}

.max-coffins {
  max-width: 100%;
}
.share li {
  list-style: none;
  margin-left: -40px;
}

#error {
  object-fit: cover;
  width: 100%;
}

.contact .btn {
  background-color: #731200;
  color: #fff;
}

label.cm-app-label {
  color: white;
}
.btn {
  white-space:normal !important;
  word-wrap: break-word;
}
.navbar nav {
  display: inline;
}

.intro-card {
  background-color:rgba(115, 18, 0, 0.1);
}

.not-intro {
  text-align:right;
  font-size:small;
  color:#686868;
}

@media  (max-width : 480px) {
  .shorten-words {
    max-width: 200px;
  }
}

.shareTwitter a {
  color: #000;
}
.navbar {
  z-index: 2147483647;
}

.txt-intro {
  text-align:left;
  color:#686868;
}

.division {
  border-top: 1px solid maroon;
  margin-left: 10%;
  margin-right: 10%;
}
/* Progress CSS */
.progress {
  background: maroon;
  position: fixed;
  top: 3.4rem;
  bottom: auto;
  left: 0;
  width: 0%;
  height: 8px;
  z-index: 10000;
}

.fit-image {
  display: inline-block;
}
.minimum {
  min-height: 200px;
}

.audio-player {
  min-height: 60px;
}
body {
  font-size: 1rem!important;
}
@media screen and (min-width: 400px) {
  .shout {
    color: white!important;
    font-family: 'Yrsa', serif;
    font-size: 8rem!important;
    margin-top: 2rem;
  }
  .shout-less {
    color: white!important;
    font-family: 'Yrsa', serif;
    font-size: 4rem;
  }
}
.bg-black-opacity {
  background-color: rgba(000,0,0,0.7)!important;
}
.min-height-250 {
  min-height: 250px;
}


.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px
}

.ribbon.red {
  background-color: #bc1a3a;
  background-image: -webkit-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
  background-image: -o-linear-gradient(top, #a61733 45%, #bc1a3a 100%);
  background-image: linear-gradient(to bottom, #a61733 45%, #bc1a3a 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffa61733', endColorstr='#ffbc1a3a', GradientType=0)
}

.ribbon.red:before,
.ribbon.red:after {
  border-top: 3px solid #8f142c
}

.ribbon {
  font-size: 12px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Montserrat Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  letter-spacing: .05em;
  line-height: 15px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  right: -11px;
  top: 10px;
  width: 100px;
  height: 28px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  background-color: #dedede;
  background-image: -webkit-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: -o-linear-gradient(top, #ffffff 45%, #dedede 100%);
  background-image: linear-gradient(to bottom, #ffffff 45%, #dedede 100%);
  background-repeat: repeat-x;
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdedede', GradientType=0)
}

.ribbon:before,
.ribbon:after {
  content: "";
  border-top: 3px solid #9e9e9e;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px
}

.ribbon:before {
  left: 0
}

.ribbon:after {
  right: 0
}

/** OVER RIDE FOR TNEW **/

.tn-prod-list-item__perf-property--action {
  text-align: left!important;
}
.btn-primary, .btn-default {
  background-color: #731200!important;
  color: #fff;
  padding: 10px;
}
.tn-events-keyword-filter, .tn-prod-list-item,
.tn-events-detail-page,
.tn-production-season-detail-page-layout__main-container,
.tn-production-season-detail-page-layout__main-container--with-image,
.tn-error-page,
.tn-cart-details-page,
.tn-account-login-page,
.tn-event-listing-view__controls-container,
.tn-account-create-page,
.tn-package-listing-page,
.tn-maintenance-page,
.tn-account-logout-page {
  border: none!important;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.14),0 3px 4px 0 rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2)!important
}
.btn {
  text-transform: none;
  font-size: 1rem;
}
.tn-btn-datepicker__icon-container {
  color: #fff!important;
}
.tn-events-detail-page,
.tn-production-season-detail-page-layout__main-container,
.tn-production-season-detail-page-layout__main-container--with-image,
.tn-error-page,
.tn-cart-details-page,
.tn-account-login-page,
.tn-event-listing-view__controls-container,
.tn-account-create-page,
.tn-package-listing-page,
.tn-maintenance-page,
.tn-account-logout-page {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fafafa;
  padding: 20px;
}
label {
  font-size: 1rem;
}

.tn-event-detail__main-container {
  order: 1!important;
  margin-bottom: 10px!important;
  width: 70%;
}
.tn-event-detail__additional-events-container {
  order: 2!important;
  width: 30%!important;
  margin-right: 60px!important;
}
.tn-additional-events__continue-shopping-link {

}
button#tn-subnav-promo-button {
  background-color: #731200!important;
  color: #fff;
  padding: 10px;
}
body, #tn-events-list-view {
  background-color: #dcd9d945!important;
}
.btn-primary:disabled {
  color: #fff;
  opacity: .5;
}
.btn:disabled, .tn-events-keyword-filter__keyword-check-icon {
  color: #fff;
  opacity: .5;
}

.btn-wine:hover, .btn-wine:active:focus, .btn-wine:focus, .btn-wine:active, .btn-wine.active, .open>.dropdown-toggle.btn-wine {
  color: #fff!important;
  background-color: #000080!important;
  border-color: #285e8e!important; /*set the color you want here*/
}
.tn-btn-datepicker__btn:hover, .tn-btn-datepicker__btn:active:focus, .tn-btn-datepicker__btn:focus, .tn-btn-datepicker__btn:active, .tn-btn-datepicker__btn.active, .open>.dropdown-toggle.tn-btn-datepicker__btn {
  color: #fff!important;
  background-color: #000080!important;
  border-color: #285e8e!important; /*set the color you want here*/
}
.tn-events-keyword-filter__keyword-button:hover, .tn-events-keyword-filter__keyword-button:active:focus, .tn-events-keyword-filter__keyword-button:focus, .tn-events-keyword-filter__keyword-button:active, .tn-events-keyword-filter__keyword-button.active, .open>.dropdown-toggle.tn-events-keyword-filter__keyword-button {
  color: #fff!important;
  background-color: #000080!important;
  border-color: #285e8e!important; /*set the color you want here*/
}
.tn-timer-urgent {
  font-weight: bolder;
}

nav.tn-subnav-component {
  margin-bottom: 20px;
  margin-left: -5px;
}
.tn-event-listing-mode-tab-nav__list {
  transition-duration: .3s;
  transition-property: background-color,color,opacity;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  color: rgba(0,0,0,.87);
  line-height: 1;
  min-height: 3rem;
  opacity: .7;
  padding: 1.0625rem .75rem;
  position: relative;
  text-transform: none!important;
  font-size: 1rem!important;
  border: none!important;
}
section.tn-header-component h1 {
  margin-bottom: 0.2em;
}

.tn-event-listing-busy-indicator {
  top: 70px;
}
.tn-event-listing-busy-indicator__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  padding: 30px;
  opacity: 0.97;
  padding: 30px;
  color: #666;
  width: 100%;
  font-style: italic;
}
.tn-event-listing-busy-indicator__content:after {
  content: '';
  width: 60px;
  height: 60px;
  margin-top: 30px;
  display: block;
  background-image: url("https://fitzwilliammuseum.github.io/tessitura-fitz/images/layouts/spinner.svg")!important;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100%;
  opacity: 0.8;
}
.tn-event-listing-view__results-container {
  margin-bottom: 20px;
}
.tn-event-listing-mode-tab-nav__list-item{
  border: none!important;
  background-color: transparent!important;
}
.tn-event-listing-mode-tab-nav__list-item.active {
  border: none!important;
  background-color: transparent!important;
}
@media (min-width: 768px)
  .tn-prod-list-item__property--img-container {
    grid-row: 1/span 3!important;
  }
}
.tn-prod-season-header__title {
  align-self: flex-start!important;
}
.tn-prod-list-item__property--heading {
    grid-column: 1!important;
    grid-column-end: -1!important;
  }
  h2.tn-create-heading {
      margin-top: 20px;
  }
  h2.tn-create-sub-heading {
      margin-top: 20px;
  }
.tn-account-info-link:before {
  margin-left: 0em!important;
  content: ""!important;
}
.tn-datepicker table {
  font-family: inherit!important;
}
.tn-datepicker {

}
.tn-busy-spinner {

  background-image:url(https://fitzwilliammuseum.github.io/tessitura-fitz/images/layouts/spinner.svg)!important;
}
spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% {
    stroke: red;
  }
  14.285714286% {
    stroke: orange;
  }
  28.571428572% {
    stroke: yellow;
  }
  42.857142858% {
    stroke: green;
  }
  57.142857144% {
    stroke: blue;
  }
  71.42857143% {
    stroke: indigo;
  }
  100% {
    stroke: violet;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
.tn-datepicker {
  outline: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  transition-delay: 0.675s;
  transition-duration: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  z-index: 240;
}

@media (min-width: 576px) {
  .tn-datepicker {
    transition-delay: 0.8775s;
  }
}

@media (min-width: 992px) {
  .tn-datepicker {
    transition-delay: 0.45s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .tn-datepicker {
    transition: none;
  }
}

.tn-datepicker.tn-datepicker-opened {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: none;
}

.tn-datepicker-frame {
  margin: 1.5rem 1.5rem;
}

.tn-datepicker-holder {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.38);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  pointer-events: none;
  transition-delay: 0.375s;
}

@media (min-width: 576px) {
  .tn-datepicker-holder {
    transition-duration: 0.39s;
  }
}

@media (min-width: 992px) {
  .tn-datepicker-holder {
    transition-duration: 0.2s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .tn-datepicker-holder {
    transition: none;
  }
}

@media (min-width: 576px) {
  .tn-datepicker-holder {
    transition-delay: 0.4875s;
  }
}

@media (min-width: 992px) {
  .tn-datepicker-holder {
    transition-delay: 0.25s;
  }
}

.tn-datepicker-opened .tn-datepicker-holder {
  opacity: 1;
  transition-delay: 0s;
}

.tn-datepicker-wrap {
  border-radius: 2px;
  transition-duration: 0.375s;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.428572;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 5px 0 rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.2);
  max-width: 18.5rem;
  opacity: 0;
  outline: 0;
  pointer-events: auto;
  position: relative;
  -webkit-transform: scale(0.87);
  transform: scale(0.87);
}

@media (min-width: 576px) {
  .tn-datepicker-wrap {
    transition-duration: 0.4875s;
  }
}

@media (min-width: 992px) {
  .tn-datepicker-wrap {
    transition-duration: 0.25s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .tn-datepicker-wrap {
    transition: none;
  }
}

@media (orientation: landscape) {
  .tn-datepicker-wrap {
    display: -ms-flexbox;
    display: flex;
    max-width: none;
  }
}

.tn-datepicker-opened .tn-datepicker-wrap {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.tn-datepicker-footer {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0.5rem 0.5rem;
}

@media (orientation: landscape) {
  .tn-datepicker-footer {
    border-radius: 0 0 2px 0;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}

.tn-datepicker-footer button {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  margin-left: 0.5rem;
  min-width: 0;
}

.tn-datepicker-footer button:first-child {
  margin-left: 0;
}

.tn-datepicker-header {
  height: 2.5rem;
  line-height: 2.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding-right: 3rem;
  padding-left: 3rem;
  position: relative;
  text-align: center;
}

@media (orientation: landscape) {
  .tn-datepicker-header {
    margin-top: 0.5rem;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
  }
}

.tn-datepicker-month,
.tn-datepicker-year {
  display: inline;
  margin-left: 0.5rem;
}

.tn-datepicker-month:first-child,
.tn-datepicker-year:first-child {
  margin-left: 0;
}

.tn-datepicker-nav-next,
.tn-datepicker-nav-prev {
  height: 2.5rem;
  margin-top: -1.25rem;
  position: absolute;
  top: 50%;
  width: 2.5rem;
}

.tn-datepicker-nav-next, .tn-datepicker-nav-next.material-icons,
.tn-datepicker-nav-prev,
.tn-datepicker-nav-prev.material-icons {
  line-height: 2.5rem;
}

.tn-datepicker-nav-next {
  right: 0;
}

.tn-datepicker-nav-next::before {
  content: "keyboard_arrow_right";
}

.tn-datepicker-nav-prev {
  left: 0;
}

.tn-datepicker-nav-prev::before {
  content: "keyboard_arrow_left";
}

.tn-datepicker-date-display {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #9c27b0;
  color: white;
  padding: 1rem 1.5rem;
}

@media (orientation: landscape) {
  .tn-datepicker-date-display {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 0;
    min-width: 9.75rem;
    white-space: nowrap;
  }
}

.tn-datepicker-date-display-bottom {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 2.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.176471;
}

.tn-datepicker-day-display {
  margin-right: 0.5rem;
}

.tn-datepicker-weekday-display {
  margin-right: 0.5rem;
}

@media (orientation: landscape) {
  .tn-datepicker-weekday-display {
    display: block;
    margin-right: 0;
  }
}

.tn-datepicker-weekday-display::after {
  content: ',';
}

.tn-datepicker-box {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #ffffff;
  overflow: hidden;
}

@media (orientation: landscape) {
  .tn-datepicker-box {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 0;
  }
}

.tn-datepicker-input.form-control[readonly] {
  border-bottom-style: solid;
  color: inherit;
  cursor: text;
}

.tn-datepicker-input.tn-datepicker-input-active {
  border-bottom-color: #ff4081;
}

.tn-datepicker-day {
  border-radius: 50%;
  cursor: default;
  height: 2.5rem;
  line-height: 2.5rem;
  margin: auto;
  vertical-align: middle;
  width: 2.5rem;
}

@media (orientation: landscape) {
  .tn-datepicker-day {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}

.tn-datepicker-day.tn-datepicker-day-selected {
  background-color: #9c27b0;
  color: white;
}

.tn-datepicker-day-disabled {
  color: rgba(0, 0, 0, 0.38);
}

.tn-datepicker-day-outfocus {
  display: none;
}

.tn-datepicker-day-today {
  color: #9c27b0;
  font-weight: bolder;
}

.tn-datepicker-table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0.5rem;
  table-layout: fixed;
}

.tn-datepicker-table td,
.tn-datepicker-table th {
  border: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

.tn-datepicker-table th {
  font-weight: inherit;
}

.tn-datepicker-weekday {
  color: rgba(0, 0, 0, 0.38);
  height: 2.5rem;
  vertical-align: middle;
  width: 2.5rem;
}

.tn-datepicker-select-month,
.tn-datepicker-select-year {
  border-radius: 2px;
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(0, 0, 0, 0.12);
  background-image: none;
  background-position: 100% 50%;
  background-size: auto 100%;
  border: 0;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  font-size: inherit;
  height: 1.25rem;
  line-height: 1.25rem;
  opacity: 0.7;
  padding: 0 1.25rem 0 0.5rem;
}

@media (min-width: 576px) {
  .tn-datepicker-select-month,
  .tn-datepicker-select-year {
    transition-duration: 0.39s;
  }
}

@media (min-width: 992px) {
  .tn-datepicker-select-month,
  .tn-datepicker-select-year {
    transition-duration: 0.2s;
  }
}

@media screen and (prefers-reduced-motion: reduce) {
  .tn-datepicker-select-month,
  .tn-datepicker-select-year {
    transition: none;
  }
}

.tn-datepicker-select-month:focus, .tn-datepicker-select-month:hover,
.tn-datepicker-select-year:focus,
.tn-datepicker-select-year:hover {
  opacity: 1;
}

@-moz-document url-prefix('') {
  .tn-datepicker-select-month,
  .tn-datepicker-select-year {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000000" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
  }
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .tn-datepicker-select-month,
  .tn-datepicker-select-year {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg fill="%23000000" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M7 10l5 5 5-5z"/%3E%3Cpath d="M0 0h24v24H0z" fill="none"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
  }
}

.tn-datepicker-select-month:focus,
.tn-datepicker-select-year:focus {
  outline: 0;
}

.tn-datepicker-select-month {
  margin-left: 0.5rem;
}
