<!-- CSS -->
<!-- Add Material font (Roboto) and Material icon as needed -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<link href="{{ site.url }}{{ site.baseurl }}/css/material.min.css" rel="stylesheet">

<link href="{{ site.url }}{{ site.baseurl }}/css/site.css?v=1" rel="stylesheet" media="screen">
<link href="{{ site.url }}{{ site.baseurl }}/css/event-detail.css?v=1" rel="stylesheet" media="screen">
<link href="{{ site.url }}{{ site.baseurl }}/css/membership-page.css?v=1" rel="stylesheet" media="screen">

<link href="{{ site.url }}{{ site.baseurl }}/css/print.css" rel="stylesheet" media="print">

<link href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.9.2/dist/cookieconsent.css" rel="stylesheet" media="screen">

<link rel="icon" href="https://fitzmuseum.cam.ac.uk/favicon.ico">
