<!-- Footer logos -->
<div class="bg-white p-2">
  <div class="row mx-auto">
    <div class="mx-auto p-3" id="sponsors">
      <ul class="venues">
        <li><a href="https://fitzmuseum.cam.ac.uk"><img class="img-fluid mr-2" alt="Fitzwilliam Museum logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/FitzLogo.png"></a></li>
        <li><a href="https://maa.cam.ac.uk"><img class="img-fluid mr-2" alt="Museum of Arch and Anth logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/maa.png"></a></li>
        <li><a href="http://sedgwickmuseum.org"><img class="img-fluid mr-2" alt="Sedgwick Museum logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/sedgwick.jpg"></a></li>
        <li><a href="https://www.classics.cam.ac.uk/museum"><img class="img-fluid mr-2" alt="Classical Archaeology Museum logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/classarch.png"></a></li>
        <li><a href="https://www.spri.cam.ac.uk/museum/"><img class="img-fluid mr-2" alt="Polar Research Museum logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/polar.jpg"></a></li>
        <li><a href="http://www.sites.hps.cam.ac.uk/whipple/"><img class="img-fluid mr-2" alt="Whipple Museum logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/whipple.png"></a></li>
        <li><a href="https://www.museum.zoo.cam.ac.uk/"><img class="img-fluid mr-2" alt="Museum of Zoology logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/zoology.png"></a></li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-black p-2">
  <div class="row mx-auto">
    <div class="mx-auto mt-3" id="funders">
      <a href="http://www.artscouncil.org.uk/"><img class="img-fluid mr-2" alt="Arts Council England Logo" src="{{ site.url }}{{ site.baseurl }}/images/logos/grand_jpeg_white.jpg" loading="lazy"></a>
    </div>
  </div>
</div>
