<!--- Footer stuff -->
<div id="footer-layout" role="contentinfo" class=" inner-wrapper clearfix l-footer">
          <div class="footer-holder">


              <div class="region--copyright region region-copyright">
    <div id="block-sitebranding">



  <div id="site-branding">
          <div id="logo">
        <a href="https://museums.cam.ac.uk/" title="Home" rel="home" class="site-logo">
          <img src="https://museums.cam.ac.uk/themes/custom/uocm/logo.svg" alt="Home">
        </a>
      </div>


  </div>
</div>
<div id="block-acelogo" class="block block-block-content block-block-contentb5b1b40b-de48-4048-993a-521450b32655">


      <div class="content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><a href="https://www.artscouncil.org.uk/"><img alt="ACE website logo" data-entity-type="file" data-entity-uuid="65f1ad38-6201-4c6e-8cb1-c4a8d14b4310" src="https://museums.cam.ac.uk/sites/default/files/inline-images/u43.png"></a></p>

<p>&nbsp;</p>
</div>

    </div>
  </div>

  </div>

          </div>
        </div>

<footer class="text-white bg-black">

  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4 mb-2">
        <h4 class="sr-only">Contact us</h4>
        <p class="share">
          University of Cambridge Museums<br />
          The Fitzwilliam Museum,<br/>
          Trumpington Street,<br/>
          Cambridge<br/>
          CB2 1RB<br/>
          Email: <a href="mailto:tickets@museums.cam.ac.uk">tickets@museums.cam.ac.uk</a>
        </p>
      </div>
      <div class="col-md-4 mt-4 mb-2 ">
        <h4 class="sr-only">Useful links</h4>
        <ul class="share">
          <li>
            <a href="https://www.cam.ac.uk/about-this-site/terms-and-conditions" aria-label="Website terms and conditions">Website Terms of Use</a>
          </li>
          <li>
            <a href="https://www.cam.ac.uk/about-this-site/accessibility/university-of-cambridge-web-accessibility-policy">Accessibility</a>
          </li>
          <li>
            <a href="https://www.registrarysoffice.admin.cam.ac.uk/governance-and-strategy/anti-slavery-and-anti-trafficking" aria-label="Modern Slavery Act statement of compliance">Modern Slavery Act Statement</a>
          </li>
          <li>
            <a href="https://alumni.cam.ac.uk/data-protection" aria-label="Data Protection measures">Data Protection</a>
          </li>
          <li>
            <a href="https://museums.cam.ac.uk/termsandconditionsofsale" aria-label="Terms of sale">Terms of sale</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4 mt-4 mb-2 ">
        <h4 class="sr-only">Copyright</h4>
        <p class="share">
          &copy; {{ site.time | date: '%Y' }} The University of Cambridge
        </p>
      </div>
    </div>
  </div>
  
  <a href="#0" class="cd-top js-cd-top">Top</a>
</footer>
