<!--- Footer stuff -->
<footer class="text-white bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4 mb-2">
        <h4 class="sr-only">Contact us</h4>
        <p class="share">
          University of Cambridge Museums<br />
          The Fitzwilliam Museum,<br/>
          Trumpington Street,<br/>
          Cambridge<br/>
          CB2 1RB<br/>
          Tel: +44 (0)1223 333 320<br />
          Email: <a href="mailto:tickets@museums.cam.ac.uk">tickets@museums.cam.ac.uk</a>
        </p>
      </div>
      <div class="col-md-4 mt-4 mb-2 ">
        <h4 class="sr-only">Useful links</h4>
        <ul class="share">
          <li>
            <a href="https://www.cam.ac.uk/about-this-site/terms-and-conditions" aria-label="Website terms and conditions">Website Terms of Use</a>
          </li>
          <li>
            <a href="https://www.cam.ac.uk/about-this-site/accessibility/university-of-cambridge-web-accessibility-policy">Accessibility</a>
          </li>
          <li>
            <a href="https://www.registrarysoffice.admin.cam.ac.uk/governance-and-strategy/anti-slavery-and-anti-trafficking" aria-label="Modern Slavery Act statement of compliance">Modern Slavery Act Statement</a>
          </li>
          <li>
            <a href="https://alumni.cam.ac.uk/data-protection" aria-label="Data Protection measures">Data Protection</a>
          </li>
          <li>
            <a href="https://museums.cam.ac.uk/termsandconditionsofsale" aria-label="Terms of sale">Terms of sale</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mt-4 mb-2">
        <a aria-label="Cambridge University Museums" href="https://museums.cam.ac.uk"><img alt="UCM logo" src="https://www.museums.cam.ac.uk/themes/custom/uocm/logo.svg" loading="lazy" class="rounded d-block mb-2 mt-2"/></a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 mx-auto">
        <p class="share">
          &copy; {{ site.time | date: '%Y' }} The University of Cambridge
        </p>
      </div>
    </div>
  </div>
  <a href="#0" class="cd-top js-cd-top">Top</a>
</footer>
