<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Back to top script -->
<script src="{{ site.url }}{{ site.baseurl }}/js/backtotop.js"></script>

<!-- add classes -->
<script src="{{ site.url }}{{ site.baseurl }}/js/classes.js"></script>


<!-- Cookie management -->
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/config.js"></script>
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/klaro.js"></script>
<script type="text/javascript">
 var images = [
 'https://fitz-cms-images.s3.eu-west-2.amazonaws.com/img_20190105_153947.jpg',
 'https://fitz-cms-images.s3.eu-west-2.amazonaws.com/img_20181113_133030-1.jpg',
 'https://fitz-cms-images.s3.eu-west-2.amazonaws.com/img_20191011_111418-1.jpg',
 'https://fitz-cms-images.s3.eu-west-2.amazonaws.com/fobert-architects_kettle-s-yard_cambridge_-hufton-crow_001_0.jpg'
 ];
 $('.head').css({'background-image': 'url(' + images[Math.floor(Math.random() * images.length)] + ')'});
</script>
