<!-- JavaScript -->



<!-- Cookie management -->
<script type="text/javascript">
  var prod = $('.tn-production-season-detail-page-layout__main-container').attr('data-tn-prod-season-no');
  console.log($(".tn-production-season-detail-page-layout__main-container").attr('data-tn-prod-season-no'));
  switch (prod) {
  case '1017':
    // MOCA
    $('.head').css({'background-image': 'url(https://museums.cam.ac.uk/sites/default/files/styles/1400x475/public/2021-04/Classical-Archaeology.jpeg)'});
    break;
  case '1353':
    // Whipple
    $('.head').css({'background-image': 'url(https://www.museums.cam.ac.uk/sites/default/files/styles/535x235/public/2018-10/whipple4.jpg)'});
    break;
  case '1008':
    //Sedgwick
    $('.head').css({'background-image': 'url(https://museums.cam.ac.uk/sites/default/files/styles/1400x475/public/2020-10/this-is-fine-1.jpg)'});
    break;
  case '1335':
    //Polar
    $('.head').css({'background-image': 'url(https://www.spri.cam.ac.uk/museum/transforming/images/PICT5663.jpg)'});
    break;
  case '1021':
    //MAA
    $('.head').css({'background-image': 'url(https://maa.cam.ac.uk/files/media/1st-floor_maudslay_maa_1_0.jpg)'});
    break;
  case '1012':
    // Zoology
    $('.head').css({'background-image': 'url(https://www.philanthropy.cam.ac.uk/sites/www.alumni.cam.ac.uk/files/styles/flexslider_full/public/images/articles/main/zoology_finback_m.jpg?itok=QVzOWteU)'});
    break;
  default:
    $('.head').css({'background-image': 'url(https://fitz-cms-images.s3.eu-west-2.amazonaws.com/img_20190105_153947.jpg)'});
  }
</script>
