<!-- JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Back to top script -->
<script src="{{ site.url }}{{ site.baseurl }}/js/backtotop.js"></script>

<!-- add classes -->
<script src="{{ site.url }}{{ site.baseurl }}/js/classes.js"></script>


<!-- Cookie management -->
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/config.js"></script>
<script defer type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/js/klaro.js"></script>
