<!-- Nav bars -->

<nav class="navbar navbar-expand-lg navbar-dark bg-black fixed-top">
  <a class="navbar-brand order-md-last " href="https://my.fitzmuseum.cam.ac.uk/">Tickets & Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
  aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarText">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk">Fitz Home</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://tickets.museums.cam.ac.uk/events/">What's on</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk/visit">Visit us</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk/collections">Our collection</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk/learning">Learning</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk/research">Our research</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk/support">Support us</a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="https://fitzmuseum.cam.ac.uk/about-us">About us</a>
    </li>
</ul>
</div>
</nav>
