<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>{{ site.title }}</title>
    {% include /structure/css.html %}
    <meta property="og:image" content="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/fitzwilliam-museum-main-entrance-2018_3.jpg" />
    <meta name="twitter:image" content="https://fitz-cms-images.s3.eu-west-2.amazonaws.com/fitzwilliam-museum-main-entrance-2018_3.jpg" />
    <meta property="og:title" content="UCM Tickets, Membership &amp; Events" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:description" content="The UCM's ticketing and Membership management portal." />
    <meta property="og:url" content="https://tickets.museums.cam.ac.uk" />
    <meta property="og:site_name" content="Your UCM Tickets, Membership &amp; Events" />
    <script type="application/ld+json">
    {"@type":"WebSite","headline":"Your Fitzwilliam Museum Tickets, Membership &amp; Events","url":"https://tickets.museums.cam.ac.uk","description":"The University of Cambridge Museum’s ticketing and Membership management portal.","name":"Your UCM Tickets, Membership &amp; Events","@context":"https://schema.org"}</script>
    <link rel="canonical" href="https://tickets.museums.cam.ac.uk"/>
    <script>document.documentElement.className += ' js ';</script>
</head>
<body class="doc-body">
  {% include /structure/google_tag_script.html %}
  {% include /structure/google_tag.html %}

<!-- Screen reader skip to main -->
<a class="sr-only sr-only-focusable doc-skip" href="#content">
    <div class="container">
        <span class="doc-skip-text">Skip to main content</span>
    </div>
</a>

{% include /structure/navigation.html %}
{% include /structure/jumbotron.html %}

<div class="container" id="content">
          {{ content }}
</div>
{% include structure/footer.html %}
{% include structure/javascript.html %}
</body>
</html>
